<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="10" md="8">
      <v-card>
        <v-alert
          v-model="alert"
          border="left"
          close-text="Close Alert"
          type="error"
          dark
          dismissible
        >
          <ul>
            <li v-for="(error, i) in errors" :key="`${i}_e`">{{ error }}</li>
          </ul>
        </v-alert>
        <div class="pa-4">
          <v-row>
            <v-col>
              <v-btn
                outlined
                fab
                small
                color="secondary"
                @click="dialog = true"
              >
                <v-icon dark> mdi-plus </v-icon>
              </v-btn>
            </v-col>
            <v-spacer />
          </v-row>
          <v-row>
            <v-col cols="12" sm="3" md="3">
              <v-select
                v-model="filter.vehicle_id"
                :items="vehicles"
                label="Vehicle"
                item-value="id"
                :item-text="
                  (item) => `${item.vin} - ${item.year}, ${item.make}`
                "
              />
            </v-col>
            <v-col cols="12" sm="3" md="3">
              <v-select
                v-model="filter.key_id"
                :items="keys"
                label="Key"
                item-value="id"
                :item-text="(item) => `${item.name}`"
              />
            </v-col>
            <v-col cols="12" sm="3" md="3">
              <v-select
                v-model="filter.technician_id"
                :items="technicians"
                label="Technician"
                item-value="id"
                :item-text="(item) => `${item.last_name}, ${item.first_name}`"
              />
            </v-col>
            <v-col cols="12" sm="3" md="3" class="d-flex align-center">
              <v-btn
                outlined
                small
                color="secondary"
                @click="applyFilter"
                :disabled="
                  !(
                    this.filter.vehicle_id ||
                    this.filter.key_id ||
                    this.filter.technician_id
                  )
                "
              >
                Search
              </v-btn>
              <v-btn
                outlined
                small
                color="secondary"
                @click="reset"
                class="ml-1"
              >
                Reset
              </v-btn>
            </v-col>
          </v-row>
        </div>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="orders"
            sort-by="id"
            class="elevation-1"
            :loading="loading"
            loading-text="Loading..."
          >
            <template v-slot:item.vehicle="{ item }">
              {{ showVehicleInfo(item.vehicle_id) }}
            </template>
            <template v-slot:item.key="{ item }">
              {{ showKeyInfo(item.key_id) }}
            </template>
            <template v-slot:item.technician="{ item }">
              {{ showTechnicianInfo(item.technician_id) }}
            </template>
            <template v-slot:item.price="{ item }">
              {{ item.price | currency }}
            </template>
            <template v-slot:top>
              <v-row>
                <v-dialog v-model="dialog" max-width="500px">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              v-model="editedItem.vehicle_id"
                              :items="vehicles"
                              label="Vehicle"
                              item-value="id"
                              :item-text="
                                (item) =>
                                  `${item.vin} - ${item.year}, ${item.make}`
                              "
                            />
                          </v-col>
                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              v-model="editedItem.technician_id"
                              :items="technicians"
                              label="Technician"
                              item-value="id"
                              :item-text="
                                (item) =>
                                  `${item.first_name}, ${item.last_name}`
                              "
                            />
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12" sm="6" md="6">
                            <v-select
                              v-model="editedItem.key_id"
                              :items="keys"
                              label="Key"
                              item-value="id"
                              item-text="name"
                            />
                          </v-col>
                          <v-col cols="12" sm="3" md="3">
                            <v-text-field
                              v-model="editedItem.amount"
                              label="Amount"
                              single-line
                              type="number"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="3" md="3">
                            <span class="text-h6">
                              {{ orderPrice }}
                            </span>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">
                        Cancel
                      </v-btn>
                      <v-btn color="blue darken-1" text @click="save">
                        Save
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h6"
                      >Are you sure you want to delete this order?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-row>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
            </template>
            <template v-slot:no-data>
              <!-- <v-btn color="primary" @click="initialize"> Reset </v-btn> -->
              No orders found
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    loading: false,
    alert: false,
    errors: [],
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: 'Id',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      { text: 'Vehicle', value: 'vehicle' },
      { text: 'Key', value: 'key' },
      { text: 'Technician', value: 'technician' },
      { text: 'Price', value: 'price' },
      { text: 'Actions', value: 'actions', sortable: false },
    ],
    orders: [],
    vehicles: [],
    keys: [],
    technicians: [],

    editedIndex: -1,
    editedItem: {
      id: null,
      vehicle_id: null,
      key_id: null,
      technician_id: null,
      amount: 0,
    },
    defaultItem: {
      id: 0,
      vehicle_id: null,
      key_id: null,
      technician_id: null,
      amount: 1,
    },
    filter: {
      vehicle_id: null,
      key_id: null,
      technician_id: null,
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New Order' : 'Edit Order'
    },
    orderPrice() {
      if (
        this.keys &&
        this.editedItem &&
        this.editedItem.key_id &&
        this.editedItem.amount
      ) {
        const item = this.keys.find((x) => x.id == this.editedItem.key_id)
        return `$ ${item.price * this.editedItem.amount}`
      }
      return `$ 0.00`
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  created() {
    this.initialize()
  },

  methods: {
    initialize() {
      this.loading = true
      //vehicles
      const v = this.$axios.get('vehicles').then((response) => {
        this.vehicles = response.data
        return response.data
      })
      //keys
      const k = this.$axios.get('keys').then((response) => {
        this.keys = response.data
        return response.data
      })
      //technicians
      const t = this.$axios.get('technicians').then((response) => {
        this.technicians = response.data
        return response.data
      })
      //orders
      Promise.all([v, k, t]).then((results) => {
        return this.$axios.get('orders').then((response) => {
          this.orders = response.data
          this.loading = false
        })
      })
    },

    editItem(item) {
      this.editedIndex = this.orders.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      this.editedIndex = this.orders.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    async deleteItemConfirm() {
      await this.$axios
        .delete(`orders/${this.editedItem.id}`)
        .then((response) => {
          if (response.status == 200) {
            this.orders.splice(this.editedIndex, 1)
            //this.orders = this.orders.filter(x => x.id != this.editedItem.id)
          }
        })
        .finally(() => {
          this.closeDelete()
        })
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    async save() {
      this.errors = []
      if (this.editedIndex > -1) {
        let aux = Object.assign({}, this.editedItem)
        // delete aux.technician_id
        // delete aux.key_id
        await this.$axios
          .put(`orders/${this.editedItem.id}`, aux)
          .then((response) => {
            if (response.status == 200) {
              Object.assign(this.orders[this.editedIndex], response.data)
            }
          })
          .catch((e) => {
            this.processErrors(e.response.data.errors)
          })
          .finally(() => {
            this.close()
          })
      } else {
        await this.$axios
          .post('orders', this.editedItem)
          .then((response) => {
            if (response.status == 200) {
              this.orders.push(response.data)
            }
          })
          .catch((e) => {
            this.processErrors(e.response.data.errors)
          })
          .finally(() => {
            this.close()
          })
      }
    },
    processErrors(errors) {
      const allErrors = Object.values(errors)
      let aux = []
      allErrors.forEach(function (value, index) {
        value.forEach((x) => {
          aux.push(x)
        })
      })
      this.errors = aux
      this.alert = true
    },

    showVehicleInfo(vehicle_id) {
      let v = this.vehicles.find((x) => x.id == vehicle_id)
      return `${v.year}, ${v.make}, ${v.model}`
    },
    showKeyInfo(key_id) {
      let k = this.keys.find((x) => x.id == key_id)
      return `${k.name}`
    },
    showTechnicianInfo(technician_id) {
      let t = this.technicians.find((x) => x.id == technician_id)
      return `${t.last_name}, ${t.first_name}`
    },
    async applyFilter() {
      this.loading = true
      this.orders = []
      await this.$axios
        .get('orders', { params: this.filter })
        .then((response) => {
          this.orders = response.data
          this.loading = false
        })
    },
    async reset() {
      this.filter.vehicle_id = null
      this.filter.key_id = null
      this.filter.technician_id = null
      await this.applyFilter()
    },
  },
  filters: {
    currency: function (value) {
      if (!value) return ''
      return `$ ${parseFloat(value).toFixed(2)}`
    },
  },
}
</script>